.gradle/
.idea/
.DS_Store
.gradletasknamecache

captures/

.externalNativeBuild
.cxx
local.properties
*.iml

build/
android_app/build/
shared/build/
buildSrc/build/

iosApp/iosApp.xcworkspace/xcuserdata/alexeyglushkov.xcuserdatad/
iosApp/Pods/

webExtension/try/out
webExtension/try/node_modules
