.gradle/
.idea/
.DS_Store
.gradletasknamecache

captures/

.externalNativeBuild
.cxx
local.properties
*.iml

build/
androidApp/build/
shared/build/
buildSrc/build/

iosApp/iosApp.xcworkspace/xcuserdata/alexeyglushkov.xcuserdatad/
iosApp/Pods/