go 1.22.2

use (
	./scripts/ipset-filler
	./scripts/phrase_exporter
	./scripts/wordlistfilter
	./service_articles
	./service_auth
	./service_cardsets
	./service_cardsetsearch
	./service_dashboard
	./service_dict
	./tools
)
